.container{
    height: 100vh;
    width: 100vw;
   background-color: #D5E1EF;
   display: flex;
   justify-content: center;
}

.card{
    background-color: white;
    flex-direction: column;

}

.imgContainer{
   height: 350px;
}



h1{
    font-family: 'Outfit', sans-serif;
    font-weight:  700;
    font-size: 15px;
}

p{
    font-family: 'Outfit', sans-serif;
    color:#C0C1C5;
    font-weight: 400;
    font-size: 15px;
}